<!DOCTYPE html>
<html>
<!-- <head>
<title>Python Webpage</title>
</head>
<body>
    <h1>Welcome to our Python Webpage!</h1>
</body>
</html> -->


<body>
    <form action = "http://localhost:5000/login" method = "post">
        <p>Enter Name:</p>
        <p><input type = "ID" name = "nm" /></p>
        <p><input type = "Project Name" name = "projectName" /></p>
        <p><input type = "Project Description" name = "projectDescription" /></p>
        <p><input type = "Project Lead" name = "projectLead" /></p>
        <p><input type = "Start Date" name = "startDate" /></p>
        <p><input type = "submit" value = "Submit" /></p>
    </form>
</body>
</html>