<!DOCTYPE html>
<html>
<!-- <head>
<title>Python Webpage</title>
</head>
<body>
    <h1>Welcome to our Python Webpage!</h1>
</body>
</html> -->


<body>
    <form action = "http://localhost:5000/projectAddPost" method = "post">
        <p>Enter Name:</p>
        <p><input type = "ID" name = "ID" /></p>
        <p><input type = "Project Name" name = "ProjectName" /></p>
        <p><input type = "Project Description" name = "ProjectDescription" /></p>
        <p><input type = "Project Lead" name = "ProjectLead" /></p>
        <p><input type = "Start Date" name = "StartDate" /></p>
        <p><input type = "submit" value = "Submit" /></p>
    </form>
</body>
</html>