{% extends 'homeBase.html' %}

{% block title%}Home Page{% endblock %}

{% block content %}
<p>Project Context: {{project}}</p>
<div class="container">
    <h1>Project Editing</h1>
    <a onclick="goBack()" class="btn btn-primary btn-lg">Back</a>
</div>
<div class="container">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <table class="table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Field</th>
                <th class="text-center">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Project ID</td>
                <td>{{project.ID}}</td>
            </tr>
            <tr>
                <td>Project Name</td>
                <td><input type="text" value="{{project.ProjectName}}" /></td>
            </tr>
            <tr>
                <td>Project Description</td>
                <td><input type="text" value="{{project.ProjectDescription}}" /></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}